---
import Layout from '../layouts/Layout.astro'

import Hero from '@components/astro/ui/LandingPage/Hero.astro'
import Keynote from '@components/react/ui/LandingPage/Keynote'
import OurTeam from '@components/react/ui/LandingPage/OurTeam'
import Sponsors from '@components/astro/section/Sponsors.astro'
---

<Layout title='Welcome to TH PyCon'>
  <main>
    <div class='mx-auto w-full'>
      <div class='flex flex-col justify-center'>
        <Hero />
        <Keynote client:load />
        <Sponsors/>
        <OurTeam client:only="react" />
      </div>
    </div>
  </main>
</Layout>

<style></style>
